<%= form_for(@terapeuta) do |f| %>
  <% if @terapeuta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@terapeuta.errors.count, "error") %> prohibited this terapeuta from being saved:</h2>

      <ul>
      <% @terapeuta.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :crp %><br />
    <%= f.text_field :crp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
