<h1>Listando terapeutas</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>CRP</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @terapeutas.each do |terapeuta| %>
  <tr>
    <td><%= terapeuta.nome %></td>
    <td><%= terapeuta.crp %></td>
    <td><%= link_to 'Exibir', terapeuta %></td>
    <td><%= link_to 'Editar', edit_terapeuta_path(terapeuta) %></td>
    <td><%= link_to 'Deletar', terapeuta, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Terapeuta', new_terapeuta_path %>
