<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @terapeuta.nome %>
</p>

<p>
  <b>Crp:</b>
  <%= @terapeuta.crp %>
</p>


<%= link_to 'Editar', edit_terapeuta_path(@terapeuta) %> |
<%= link_to 'Voltar', terapeutas_path %>
