<%= form_for(@paciente) do |f| %>
  <% if @paciente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
      <% @paciente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :endereco %><br />
    <%= f.text_field :endereco %>
  </div>
  <div class="field">
    <%= f.label :bairro %><br />
    <%= f.text_field :bairro %>
  </div>
  <div class="field">
    <%= f.label :cep %><br />
    <%= f.text_field :cep %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br />
    <%= f.text_field :telefone %>
  </div>
  <div class="field">
    <%= f.label :celular %><br />
    <%= f.text_field :celular %>
  </div>
  <div class="field">
    <%= f.label :data_de_nascimento %><br />
    <%= f.date_select :data_de_nascimento %>
  </div>
  <div class="field">
    <%= f.label :sexo %><br />
    <%= f.text_field :sexo %>
  </div>
  <div class="field">
    <%= f.label :nome_da_mae %><br />
    <%= f.text_field :nome_da_mae %>
  </div>
  <div class="field">
    <%= f.label :nome_do_pai %><br />
    <%= f.text_field :nome_do_pai %>
  </div>
  <div class="field">
    <%= f.label :convenio %><br />
    <%= f.text_field :convenio %>
  </div>
  <div class="field">
    <%= f.label :valor_parficular %><br />
    <%= f.text_field :valor_parficular %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :cid %><br />
    <%= f.text_field :cid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
