<%= form_for(@convenio) do |f| %>
  <% if @convenio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@convenio.errors.count, "erro impediu") %> o convênio de ser salvo:</h2>

      <ul>
      <% @convenio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>
  <div class="actions">
    <%= f.submit "Salvar Paciente", :class => "btn-success" %>
  </div>
<% end %>
